
.logo{
    color: rgb(0, 0, 0);
    margin: 10px 10px 10px 10px;
    font-size: 15px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}    

.item{
    border: rgb(100, 100, 100) solid 2px;
    display: flex;
    justify-content: flex-start; 
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 2px;
}

.addBtn{
    background-color: rgb(42, 156, 122);
    color: rgb(255, 255, 255);
    padding: 5px 8px 5px 8px;
    margin:  4px 4px 4px 10px;
    border-radius: 2px;
    font-size: 13px;
}

.form{
    display: flex;
    justify-content: center;
}

.colorbox{
    background-color: rgb(196, 7, 7);
    margin: 10px 3px 3px 10px;
    width: 15px;
    height: 15px;
}

.colorbox:hover{
    background-color: rgb(7, 26, 196);
}

